@{
  Layout="Shared/_Layout.cshtml";
}

<form method="post" action="/artists">
  <label for="artist-name">Enter artist name:</label>
  <input type="text" name="artist-name" id="artist-name">
  <button type="submit" class="btn">Submit</button>
</form>
<p><a href="/">Home page</a></p>
