@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Your music collection</h1>
<p><a href="/artist/new">Add an artist</a></p>
<p><a href="/artists">View collection by artists</a></p>
<p><a href="/artist/search">Search for an artist by name</a></p>
