@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Search for an artist</h3>

<form class="" action="" method="post">
  <label for="artist-search">Enter artist name:</label>
  <input id="artist-search" type="text" name="artist-search" value="">
  <button type="submit" name="button">Submit</button>
</form>

@if(@Model != null)
{

  <h3>Results:</h3>
  <ul>
  @if (@Model.Count > 0)
  {
    @foreach (var artist in Model)
    {
      <li><a href="/artists/@artist["artist"].GetId()">@artist.GetName()</a></li>
    }
  } else {

    <h3>No artists have been added yet!</h3>
  }
  </ul>
}

<p><a href="/">Home page</a></p>
