@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Search for an artist</h3>

<form class="" action="" method="post">
  <label for="artist-search">Enter artist name:</label>
  <input id="artist-search" type="text" name="artist-search" value="">
  <button type="submit" name="button">Submit</button>
</form>

<p><a href="/">Home page</a></p>
